<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
  </head>
  <body>
    {% if is_staff %}
      <a href="/approva">Articoli da approvare</a>
    {% endif %}
    <a href="/articoli">Articoli</a>
    <a href="/crea">Crea</a>
    <ul>
      anni:
      {% for anno in anni %}
        <li><a href="/articoli/anno/{{anno.year}}">{{anno.year}}</a></li>
      {% empty %}
        non sono stati aggiunti anni. Vai su admin -> aggiungi anno.
      {% endfor %}
    </ul>
    <ul>
      argomenti:
      {% for argomento in argomenti %}
        <li><a href="/articoli/argomento/{{argomento.url_name}}">{{argomento.name}}</a></li>
      {% empty %}
      non sono presenti argomenti. Vai su admin -> aggiungi argomento.
      {% endfor %}
    </ul>
  </body>
</html>
